<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Microserviço Encurtador de URL</h1>
    <main>
      <section>
        <ol>
          <li>Insira uma URL http ou https válido</li>
          <li>Será retornado um JSON com a propiedade short_url</li>
          <li>Acesse [project_url]/api/shorturl/short_url</li>
          <li>Será redirecionado para o site</li>
        </ol>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <h2>Exemplo de uso:</h2>
        <p>POST [project_url]/api/shorturl - https://www.google.com</p>
        <p>GET [project_url]/api/shorturl/392395</p>
        <h3>Será redirecionado para:</h3>
        <p>https://www.google.com</p>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/lucaseduardolema/">Lucas Eduardo</a></p>
    </footer>
  </body>
</html>
